@import url('https://fonts.googleapis.com/css?family=Montserrat&subset=cyrillic');


html, body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	width: 100%;
	height: 100%;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
}

section{
	/* height: 100%; */
	max-height: 568px;
	min-height: 350px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: space-around;
	-ms-align-items: center;
	align-items: center;
}
ul {
	padding:0;
}
li {
	list-style-type: none;
}

input, .colors-drop, .sizes-drop{
	border: 2px solid #82545a;
	height: 50px;
	border-radius: 18px;
	outline: none;
}
input:focus {
	border-color: #cd84f1;
}
input::placeholder {
	color: #000;
	font-size: 1.2rem;
}
.text input{
	width: 320px;
	padding-left: 15px;
	font-size: 1.1rem;
}
.color, .size {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	width: 320px;
}
.color > span , .size > span {
	padding-top: 5px;
	padding-left: 5px;
	font-size: 1.2rem;
}
.colors-drop, .sizes-drop {
	width: 250px;
}


.go input, .download input {
	width: 300px;
	background-color: #cd84f1;
	color: #000;
	font-size: 1.1rem;
	letter-spacing: 1px;
	cursor: pointer;
} 
/* .download input {
	background-color: #ef5777;
	outline: none;
}
.download input:focus {
	bd
}
 */
.qr {
	display: flex;
	justify-content: center;
}
#qrcode {
  margin-bottom: 30px;
}


.dropdown p {
	margin: 0;
	margin-left: 10px;
	margin-top: 6px;
}
.sizes-drop p {
	padding-top: 5px;
}
.colors-text {
	padding-left: 10px;
}
.colors-text::before {
	content: "";
	display: inline-block;
	width: 25px;
	height: 25px;
	background-color: black;
	margin-right: 12px;
}
.colors-text_purple::before {
	background-color: #574b90;
}
.colors-text_red::before {
	background-color: #cc3512;
}
.colors-text_green::before {
	background-color: #2ed573;
}
.colors-text_orange::before {
	background-color: #fa8231;
}
.colors-text_black::before {
	background-color: #000000;
}
.colors-drop, .sizes-drop{
  position: relative;
}
.sizes-text {
	padding-left: 25px;
}

.dropdown{
	 width: 100%;
  cursor: pointer;
  height: 100%;
  position: relative;
}
.colors-menu, .sizes-menu{
  position: absolute;
  right:-5px;
  top:35px;
  width: 255px;
  cursor: pointer;
  transform-style: preserve-3d;
  transform:rotatey(180deg) rotateX(5deg) translatey(100px);
  backface-visibility: hidden;
  background-color: #fff;
	border: 2px solid #82545a;
	border-radius: 18px;
  z-index:100;
  overflow:hidden;
  transition:all 0.8s;
}
.colors-menu li , .sizes-menu li{
  padding: 10px 10px;
  border-bottom: 2px solid #82545a;
  transition:all 0.3s;
}
.colors-menu li:hover , .sizes-menu li:hover{
  background:#eeddf7;
  
}
.colors-menu li:last-child , .sizes-menu li:last-child{
  border:none;
}

.showColors-menu, .showSizes-menu{
	z-index: 100;
  opacity:1;
  transform:rotateX(0deg) translatey(0px);
}

