html, body {
	margin: 0;
	padding: 0;
	font-family: Verdana, sans-serif;
}	

.calc {
	width: 105vw;
	height: 105vh;
	background-color: #d96060;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}
.calc_app {
	max-width: 350px;
	max-height: 600px;
	width: 105vw;
	height: 105vh;
  box-shadow: 0px 7px 10.92px 2.08px rgba(0, 0, 0, 0.3);
}
.calc_disp {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: flex-end;
	-ms-align-items: flex-end;
	align-items: flex-end;
  height: 30%;
  width: 100%;
  background: #141E30;  
  background: -webkit-linear-gradient(to right, #243B55, #141E30); 
  background: linear-gradient(to right, #243B55, #141E30); 
}
.calc_disp_input {
	outline: none;
	background-color: transparent;
	border: none;
	color: #fff;
	/* font-size: 24px; */
	text-align: right;
	margin-right: 15px;
	opacity: 0.5;
	width: 100%;
}
.calc_disp_bottom {
	opacity: 1;
	font-size: 54px;
}
.calc_keypad {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	height: 70%;
	background-color: #fff;
}
.calc_keypad_row {
	width: 98%;
	height: 98%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	-ms-align-items: center;
	align-items: center;
}
.calc_button {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	margin-right: 2px;
	margin-left: 2px;
	border: none;
	outline: none;
	width: 95%;
	height: 95%;
	background-color: #f4f5f9;
	color: #2a3144;
	font-size: 30px;
	cursor: default;
	user-select: none; 
}
.calc_button_gray {
	background-color: #dcdfe6;
}
.calc_button_red {
	background-color: #cf3e3e;
	color: #fff;
	width: 210%;
	flex-grow: 2;
	-webkit-flex-grow: 2;

}
