$white: #fff;
$gold: #998675;

@font-face {
  font-family: "RalewayMedium";
  src: url("../fonts/RalewayMedium.eot");
  src: url("../fonts/RalewayMedium.eot") format("embedded-opentype"),
    url("../fonts/RalewayMedium.woff2") format("woff2"),
    url("../fonts/RalewayMedium.woff") format("woff"),
    url("../fonts/RalewayMedium.ttf") format("truetype"),
    url("../fonts/RalewayMedium.svg#RalewayMedium") format("svg");
}
@font-face {
  font-family: "RalewayExtraBold";
  src: url("../fonts/RalewayExtraBold.eot");
  src: url("../fonts/RalewayExtraBold.eot") format("embedded-opentype"),
    url("../fonts/RalewayExtraBold.woff2") format("woff2"),
    url("../fonts/RalewayExtraBold.woff") format("woff"),
    url("../fonts/RalewayExtraBold.ttf") format("truetype"),
    url("../fonts/RalewayExtraBold.svg#RalewayExtraBold") format("svg");
}
@font-face {
  font-family: "RalewayLight";
  src: url("../fonts/RalewayLight.eot");
  src: url("../fonts/RalewayLight.eot") format("embedded-opentype"),
    url("../fonts/RalewayLight.woff2") format("woff2"),
    url("../fonts/RalewayLight.woff") format("woff"),
    url("../fonts/RalewayLight.ttf") format("truetype"),
    url("../fonts/RalewayLight.svg#RalewayLight") format("svg");
}
@font-face {
  font-family: "RalewayRegular";
  src: url("../fonts/RalewayRegular.eot");
  src: url("../fonts/RalewayRegular.eot") format("embedded-opentype"),
    url("../fonts/RalewayRegular.woff2") format("woff2"),
    url("../fonts/RalewayRegular.woff") format("woff"),
    url("../fonts/RalewayRegular.ttf") format("truetype"),
    url("../fonts/RalewayRegular.svg#RalewayRegular") format("svg");
}

body {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0;
  // overflow-y: hidden;
  font-family: "RalewayRegular", sans-serif;
}
.container {
  width: 1230px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

// ---HEADER---
.header {
  width: 100%;
  background: url("../img/header_bg.png") center / cover no-repeat;
}
.header_top {
  width: 1230px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 30px;
  box-sizing: border-box;
  justify-content: space-around;
}
.header_logo {
  width: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $white;
  font-size: 34px;
  text-decoration: none;
  fill: currentColor;
  &:hover {
    color: $gold;
  }
  &:active {
    color: #d3c1ad;
  }
}
.mobile-nav {
  // display: block;
  display: none;
  z-index: 6;
  width: 40px;
  height: 40px;
  border-top: 3px solid $white;
  position: relative;
  transition: border 1s ease-in-out;
  &:hover {
    cursor: pointer;
  }
  &:before {
    display: block;
    content: "";
    width: 40px;
    height: 3px;
    background: $white;
    position: absolute;
    bottom: 11px;
    left: 0;
    transform: rotate(0);
    transition: transform 1s ease-in-out;
  }
  &:after {
    display: block;
    content: "";
    width: 40px;
    height: 3px;
    background: $white;
    position: absolute;
    top: 12px;
    left: 0;
    transform: rotate(0);
    transition: transform 1s ease-in-out;
  }
}
#mobile-menu {
  display: none;
}
#mobile-menu:checked ~label >.mobile-nav  {
  border: transparent;
  transition: border 1s ease-in-out;
  &:before {
    height: 4px;
    bottom: 24px;
    transform: rotate(135deg);
  }
  &:after {
    height: 4px;
    top: 12px;
    transform: rotate(-135deg);
  }
}
.header_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_nav-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.menu_item {
  font-size: 14px;
  font-family: "RalewayLight", sans-serif;
  color: $white;
  text-decoration: none;
  margin-right: 30px;
  &:hover {
    color: #d3c1ad;
  }
  &:active {
    color: $gold;
  }
}
#mobile-menu:checked ~.header_nav {
  // display: none;
  border: 1px solid red;
  height: 100%;
  width: 100%;
  z-index: 5;
  overflow-y: hidden;
}
#mobile-menu:checked ~.header_nav >.header_nav-menu {
  flex-wrap: wrap;
  align-items: normal;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}
#mobile-menu:checked ~.header_nav >.header_nav-menu >.menu_item {
  display: block;
  text-transform: uppercase;
  background: $gold;
  width: 100%;
  margin: 0;
  border-bottom: 1px solid $white;
  padding-top: 45px;
  &:hover {
    color: $white;
    background: #d3c1ad;
  }
  &:active {
    background: #736357;
  }
}


.header_nav-bag {
  outline: none;
  border: none;
  background: transparent;
  width: 18px;
  height: 26px;
  margin-right: 30px;
  fill: $white;
  &:hover {
    fill: #d3c1ad;
    cursor: pointer;
  }
  &:active {
    fill: $gold;
  }
}
.header_nav-search {
  position: relative;
  width: 25px;
  height: 25px;
  color: $white;
}
.nav-search_svg {
  width: 100%;
  height: 100%;
  fill: $white;
  &:hover {
    fill: #d3c1ad;
    cursor: pointer;
  }
}
.nav-search_label {
  display: block;
  width: 100%;
  height: 100%;
}
.nav-search_input {
  width: 0;
  min-height: 0;
  color: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
  box-sizing: border-box;
  position: absolute;
  top: 40px;
  left: -250px;
  background: transparent;
  &:focus {
    cursor: text;
    color: $white;
    width: 270px;
    border: 1px solid $white;
    padding: 5px 5px 5px 10px;
    box-sizing: border-box;
    transition: width 1s ease-out;
  }
}
.nav-search_input:focus ~ .nav-search_label > .nav-search_svg {
  fill: $gold;
}
.header_main {
  color: $white;
}
.carousel_main {
  display: flex;
  padding: 250px 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}
.carousel-controls-prev {
  display: block;
  width: 55px;
  height: 55px;
  position: relative;
  margin-left: 150px;
  &::after {
    content: "";
    display: block;
    width: 50px;
    height: 0px;
    border: 2px solid #d3c1ad;
    box-sizing: border-box;
    transform: rotate(135deg);
    position: absolute;
    top: 0;
    left: 0;
  }
  &::before {
    content: "";
    display: block;
    width: 50px;
    height: 0px;
    border: 2px solid #d3c1ad;
    box-sizing: border-box;
    transform: rotate(-135deg);
    position: absolute;
    top: 34px;
    left: 0;
  }
}
.carousel-controls-next {
  display: block;
  width: 55px;
  height: 55px;
  position: relative;
  margin-right: 150px;
  &::after {
    content: "";
    display: block;
    width: 50px;
    height: 0px;
    border: 2px solid #d3c1ad;
    box-sizing: border-box;
    transform: rotate(225deg);
    position: absolute;
    top: 0;
    left: 0;
  }
  &::before {
    content: "";
    display: block;
    width: 50px;
    height: 0px;
    border: 2px solid #d3c1ad;
    box-sizing: border-box;
    transform: rotate(-225deg);
    position: absolute;
    top: 34px;
    left: 0;
  }
}

.carousel-controls-next:hover::before,
.carousel-controls-next:hover::after,
.carousel-controls-prev:hover::before,
.carousel-controls-prev:hover::after {
  border: 2px solid $gold;
}

.carousel-controls-next:active::before,
.carousel-controls-next:active::after,
.carousel-controls-prev:active::before,
.carousel-controls-prev:active::after {
  border: 2px solid $white;
}

.carousel-body {
  text-align: center;
  max-width: 590px;
}
.carousel-heading_semi {
  font-family: "RalewayMedium", sans-serif;
  font-size: 36px;
  margin: 0;
}
.carousel-heading_main {
  font-family: "RalewayExtraBold", sans-serif;
  font-size: 52px;
  margin: 0;
}
.carousel-heading_txt {
  font-family: "RalewayLight", sans-serif;
  font-size: 16px;
  margin: 20px 0 50px;
}
.carousel-btn {
  margin: 0 auto;
  display: block;
  width: 170px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 3px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $gold;
  box-shadow: inset 0px 3px 0px 0px rgba(115, 99, 87, 0.004);
  border-bottom: 3px solid #736357;
  text-decoration: none;
  text-transform: uppercase;
  color: $white;
  word-break: break-all;
  &:hover {
    background: #d3c1ad;
  }
  &:active {
    background: #736357;
  }
}
.carousel_pagination {
  margin: 0 auto;
  padding-bottom: 40px;
  display: flex;
  width: 100px;
  justify-content: space-between;
  align-items: center;
}
.pagination_item {
  display: block;
  width: 10px;
  height: 10px;
  background-color: #8f8f91;
  border-radius: 50%;
  box-sizing: border-box;
  &-active,
  &:hover {
    background-color: transparent;
    border: 1.5px solid #d3c1ad;
    transform: scale(1.4);
  }
}

// ---FEATURES---
.features {
  box-sizing: border-box;
  padding: 75px 0;
  &-item {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 25%;
    padding: 0 10px;
    box-sizing: border-box;
    max-width: 285px;
    &::after {
      content: "";
      display: block;
      width: 70px;
      height: 3px;
      background-color: #f1eee9;
    }
    &:hover:after {
      background-color: $gold;
    }
    &:hover .features-item_icon {
      fill: $gold;
    }
    &:hover .features-item_title {
      color: $gold;
    }
    &_icon {
      display: block;
      fill: #555555;
    }
    &_title {
      width: 100%;
      font-family: "RalewayMedium";
      font-size: 22px;
    }
    &_txt {
      font-family: "RalewayLight";
      font-size: 14px;
      line-height: 24px;
      margin: 0;
      padding: 25px 0;
    }
  }
}

// ---IDEAS---
.ideas {
  background: #fbfaf8;
  padding-top: 75px;
}
.ideas_title {
  font-family: "RalewayMedium";
  font-size: 30px;
  color: #555555;
  text-align: center;
  margin: 0;
  width: 100%;
}
.ideas_txt {
  font-family: "RalewayLight";
  font-size: 16px;
  line-height: 28px;
  max-width: 755px;
  text-align: center;
  margin: 0 auto;
  padding: 40px 0;
  color: #8c8c8c;
}
.ideas_imgs {
  position: relative;
  z-index: 1;
  height: 480px;
  width: 100%;
  overflow: hidden;
}
.ideas_photo {
  width: 770px;
  height: 480px;
}
.ideas_photo:nth-child(2) {
  display: block;
  margin: 0 auto;
  z-index: 2;
}
.ideas_photo:nth-child(1) {
  display: block;
  position: absolute;
  top: 80px;
  left: 0;
  z-index: -1;
}
.ideas_photo:nth-child(3) {
  display: block;
  position: absolute;
  top: 80px;
  right: 0;
  z-index: -1;
}

// ---PURCHASE---
.purchase {
  background: #3b2a21
    linear-gradient(0deg, rgb(33, 27, 25) 0%, rgb(78, 52, 39) 100%);
  padding: 45px 0;
}
.purchase_txt {
  margin-left: 25px;
}
.purchase-title {
  font-size: 28px;
  color: $white;
  &_g {
    color: $gold;
  }
}
.purchase-text {
  font-family: "RalewayLight";
  font-size: 18px;
  color: #615855;
  margin: 0;
}
.purchase_btn {
  display: block;
  width: 170px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 3px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $gold;
  box-shadow: inset 0px 3px 0px 0px rgba(115, 99, 87, 0.004);
  border: none;
  border-bottom: 3px solid #736357;
  text-decoration: none;
  text-transform: uppercase;
  color: $white;
  word-break: break-all;
  outline: none;
  margin-right: 25px;
  &:hover {
    background: #d3c1ad;
    cursor: pointer;
  }
  &:active {
    background: #736357;
  }
}

// ---PROJECT---
.project-title {
  width: 100%;
  font-family: "RalewayMedium";
  font-size: 30px;
  color: #555555;
  text-align: center;
}
.project-txt {
  max-width: 755px;
  font-family: "RalewayLight";
  font-size: 18px;
  line-height: 28px;
  color: #555555;
  text-align: center;
  margin: 0 auto;
}
.project-nav {
  width: 600px;
  margin: 0 auto;
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}
.project-nav_item {
  outline: none;
  padding: 8px 20px;
  color: #555555;
  border: 1px solid rgb(235, 235, 235);
  border-radius: 3px;
  box-sizing: border-box;
  background: $white;
  font-family: "RalewayLight";
  font-size: 14px;
  &-active {
    background: #998675;
    color: $white;
  }
  &:hover {
    background: #d3c1ad;
    color: $white;
    cursor: pointer;
  }
  &:active {
    background: #998675;
    color: $white;
  }
}
.project-wrp {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.project-box {
  width: 33.3%;
  max-width: 365px;
  padding-bottom: 25px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}
.project-box:nth-child(3n) {
  padding-right: 0;
}
.item-img {
  display: block;
  box-sizing: border-box;
}
.item-wrp {
  background: #fbfaf8;
  padding: 30px;
  position: relative;
  &::after {
    content: "";
    display: block;
    width: 25px;
    height: 25px;
    box-sizing: border-box;
    border: 13px solid transparent;
    border-bottom: 13px solid #fbfaf8;
    background: transparent;
    position: absolute;
    top: -25px;
    left: 25px;
  }
}
.item-title {
  display: block;
  width: 100%;
  font-family: "RalewayRegular";
  font-size: 20px;
  color: #c7b299;
  padding-bottom: 5px;
}
.item-txt {
  display: block;
  width: 100%;
  font-family: "RalewayLight";
  color: #d1d1d1;
  font-size: 14px;
  line-height: 20px;
}
.project-link,
.project-search {
  position: absolute;
  top: 25%;
  left: 40%;
  fill: $white;
  display: none;
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  outline: none;
  background: transparent;
  border: none;
  &:hover {
    fill: #c7b299;
  }
  &:active {
    fill: $gold;
  }
}
.project-search {
  left: 50%;
}
.project-box:hover {
  .item-img {
    filter: brightness(35%);
    transition: all 0.3s;
  }
  .item-wrp {
    background: #362f2a;
    &::after {
      border: transparent;
    }
  }
  .item-title {
    color: $white;
  }
  .item-txt {
    color: #c7b299;
  }
  .project-link,
  .project-search {
    display: block;
    cursor: pointer;
  }
}
.project-btn {
  margin: 25px auto 75px;
  display: block;
  width: 175px;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 3px;
  text-align: center;
  text-transform: uppercase;
  background-color: $gold;
  box-shadow: inset 0px 3px 0px 0px rgba(115, 99, 87, 0.004);
  border: none;
  border-bottom: 3px solid #736357;
  text-decoration: none;
  color: $white;
  outline: none;
  word-break: break-all;
  &:hover {
    background: #d3c1ad;
    cursor: pointer;
  }
  &:active {
    background: #736357;
  }
}

// ---VIDEO---
.video {
  width: 100%;
  min-height: 500px;
  position: relative;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  &-play {
    outline: none;
    width: 100%;
    height: 700px;
    object-fit: cover;
  }
  &-wrp {
    position: absolute;
  }
  &-btn {
    border: none;
    outline: none;
    fill: $white;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.2);
    width: 93px;
    height: 93px;
    box-sizing: border-box;
    padding-top: 11px;
    padding-left: 11px;
    margin: 0 auto 45px;
    transition: transform 0.2s ease-in-out;
    &:hover {
      fill: #c7b299;
      transform: scale(1.1);
      cursor: pointer;
    }
    &:active {
      fill: $gold;
    }
  }
  &-title {
    display: block;
    width: 100%;
    text-align: center;
    font-family: "RalewayMedium";
    font-size: 30px;
    color: $white;
    margin-bottom: 25px;
  }
  &-txt {
    display: block;
    margin: 0 auto 35px;
    max-width: 550px;
    text-align: center;
    font-family: "RalewayLight";
    font-size: 16px;
    line-height: 28px;
    color: $white;
  }
  &-time {
    display: block;
    width: 100%;
    font-family: "RalewayRegular";
    font-size: 14px;
    line-height: 24px;
    color: #c7b299;
    text-align: center;
  }
}

// ---MOBILE---
.mobile {
  background: #fbfaf8;
  .container {
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
    background: url("../img/mobile-bg.png") 15% bottom / auto no-repeat;
    padding-top: 180px;
    padding-bottom: 165px;
    box-sizing: border-box;
  }
  &-title {
    width: 650px;
    text-align: start;
    font-family: "RalewayMedium";
    font-size: 30px;
    color: #555555;
    margin: 0;
  }
  &-txt {
    max-width: 650px;
    text-align: left;
    font-size: 16px;
    line-height: 28px;
    color: #8c8c8c;
    margin: 35px 0 45px;
  }
  &-wrp {
    margin: 0;
    padding: 0;
    padding-right: 50px;
    box-sizing: border-box;
  }
  &_item {
    font-size: 16px;
    font-family: "RalewayLight";
    color: #8c8c8c;
    list-style-type: none;
    display: block;
    box-sizing: border-box;
    padding-left: 45px;
    padding-bottom: 15px;
    position: relative;
    &::before {
      content: ">";
      display: block;
      color: $white;
      border-radius: 50%;
      background: #c7b299;
      height: 20px;
      width: 20px;
      text-align: center;
      left: 0;
      top: 0;
      position: absolute;
    }
  }
}

// ---COUNTERES---
.counteres .container {
  justify-content: space-around;
  padding: 55px 100px;
  box-sizing: border-box;
}
.counteres {
  background: linear-gradient(0deg, rgb(33, 27, 25) 0%, rgb(78, 52, 39) 100%);
  &-item {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    max-width: 135px;
    &::after {
      content: "";
      display: block;
      width: 30px;
      height: 3px;
      background-color: #f1eee9;
    }
    &:hover:after {
      background-color: $gold;
    }
    &:hover .counteres-item_icon {
      fill: $gold;
    }
    &:hover .counteres-item_number {
      color: #c7b299;
    }
    &:hover .counteres-item_txt {
      color: $gold;
    }
    &_icon {
      display: block;
      fill: #c7b299;
    }
    &_number {
      display: block;
      width: 100%;
      color: $white;
      font-family: "RalewayLight";
      font-size: 48px;
      line-height: 36px;
      margin-top: 12px;
    }
    &_txt {
      display: block;
      width: 100%;
      font-family: "RalewayLight";
      font-size: 14px;
      line-height: 20px;
      text-transform: uppercase;
      color: #c7b299;
      margin: 20px auto 30px;
    }
  }
}

// ---POSTS---
.posts {
  padding: 80px 0 75px;
  box-sizing: border-box;
  &-title {
    width: 100%;
    font-size: 30px;
    font-family: "RalewayMedium";
    text-align: center;
    margin: 0;
  }
  &-txt {
    width: 100%;
    max-width: 755px;
    text-align: center;
    font-size: 16px;
    line-height: 28px;
    color: #8c8c8c;
    margin: 30px auto 40px;
  }
  &-wrp {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
}
.posts-item {
  width: 33.3%;
  max-width: 365px;
  box-sizing: border-box;
  position: relative;
  &_img {
    display: block;
    width: 100%;
  }
  &_box {
    box-sizing: border-box;
    padding: 30px;
    border: 1px solid rgb(248, 248, 248);
  }
  &_title {
    display: block;
    width: 100%;
    font-family: "RalewayMedium";
    font-size: 20px;
    color: #555555;
  }
  &_txt {
    display: block;
    width: 100%;
    font-family: "RalewayLight";
    font-size: 14px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 20px auto 30px;
  }
  &_link {
    text-decoration: none;
    box-sizing: border-box;
    display: block;
    width: 90px;
    color: #c7b299;
    font-family: "RalewayLight";
    font-size: 14px;
    position: relative;
    &::after {
      content: "";
      display: block;
      box-sizing: border-box;
      border: 5px solid transparent;
      border-left: 5px solid #c7b299;
      height: 10px;
      width: 10px;
      position: absolute;
      right: 0;
      top: 25%;
    }
  }
}
.posts-item_calendar {
  position: absolute;
  top: 20px;
  left: 20px;
}
.calendar-number,
.calendar-month {
  color: $white;
  display: block;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  line-height: 20px;
  box-sizing: border-box;
}
.calendar-number {
  font-size: 24px;
  padding: 8px;
  background: #363636;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.calendar-month {
  font-size: 12px;
  padding: 3px;
  background: #252525;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.posts-item_link:hover {
  color: $white;
  &::after {
    border-left: 5px solid $white;
  }
}
.posts-item_link:active {
  color: $gold;
  &::after {
    border-left: 5px solid $gold;
  }
}
.posts-item:hover {
  .calendar-number {
    background: #c7b299;
  }
  .calendar-month {
    background: #a48d72;
  }
  .posts-item_img {
    filter: brightness(50%);
  }
  .posts-item_box {
    background: #362f2d;
    border: 1px solid #362f2d;
  }
  .posts-item_title {
    color: #c7b299;
  }
  .posts-item_txt {
    color: $white;
  }
}

// ---PARTNERS---
.partners {
  background: $gold url("../img/partners-bg.png") center / cover no-repeat;
  padding: 155px 0;
  box-sizing: border-box;
  &-item {
    display: block;
    width: 25%;
    &_img {
      transition: transform 0.4s ease-in-out;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

// ---FOOTER---
.footer {
  background: #191919;
  padding: 70px 0 75px;
  box-sizing: border-box;
  .container {
    align-items: flex-start;
    justify-content: space-around;
  }
  &_title {
    display: block;
    width: 100%;
    color: $white;
    font-size: 24px;
    font-family: "RalewayExtraBold";
    margin-bottom: 25px;
  }
}
.footer-logo,
.footer-posts,
.footer-twitter,
.footer-widget {
  width: 22%;
}
.footer-logo {
  &_txt {
    color: #555555;
    font-size: 14px;
    line-height: 24px;
    font-family: "RalewayLight";
    margin: 25px auto;
  }
  &_link {
    text-decoration: none;
    box-sizing: border-box;
    display: block;
    width: 90px;
    color: $white;
    font-family: "RalewayLight";
    font-size: 14px;
    position: relative;
    &::after {
      content: "";
      display: block;
      box-sizing: border-box;
      border: 5px solid transparent;
      border-left: 5px solid $white;
      height: 10px;
      width: 10px;
      position: absolute;
      right: 0;
      top: 25%;
    }
    &:hover {
      color: #c7b299;
      &::after {
        border-left: 5px solid #c7b299;
      }
    }
    &:active {
      color: $gold;
      &::after {
        border-left: 5px solid $gold;
      }
    }
  }
}
.footer-posts {
  &_item {
    border-bottom: 1px solid #555555;
    box-sizing: border-box;
    padding: 20px 0;
    box-sizing: border-box;
    &:last-child {
      border-bottom: 1px solid transparent;
    }
  }
  &-date {
    color: #363636;
    font-size: 12px;
    line-height: 20px;
  }
  &-txt {
    color: #555555;
    font-size: 14px;
    line-height: 20px;
    font-family: "RalewayLight";
    margin: 0;
  }
}
.footer-posts_item:hover {
  .footer-posts-date {
    color: $white;
  }
  .footer-posts-txt {
    color: #c7b299;
  }
}
.footer-twitter {
  &_item {
    border-bottom: 1px solid #555555;
    box-sizing: border-box;
    padding: 20px 0;
    box-sizing: border-box;
    &:last-child {
      border-bottom: 1px solid transparent;
    }
  }
  &-txt {
    color: #555555;
    font-size: 14px;
    line-height: 20px;
    font-family: "RalewayLight";
    margin: 0;
    .blue {
      color: #00bff3;
    }
    .white {
      color: #959595;
    }
  }
  &-time {
    color: #363636;
    font-size: 12px;
    line-height: 20px;
  }
}
.footer-twitter_item:hover {
  .footer-twitter-time {
    color: $white;
  }
  .footer-twitter-txt {
    color: #c7b299;
    .white {
      color: #c7b299;
    }
  }
}
.footer-widget {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  &_item {
    display: block;
    width: 130px;
    margin-bottom: 10px;
    &:hover {
      filter: brightness(0.5);
      cursor: pointer;
    }
  }
}

.footer-copy {
  background: #111111;
  box-sizing: border-box;
  padding: 40px 0;
  color: #555555;
}
.footer-info {
  font-family: "RalewayLight";
  font-size: 13px;
  line-height: 20px;
  &_txt {
    display: inline-block;
    padding: 0 15px;
    &:last-child {
      border-left: 1px solid #555555;
    }
    .white {
      color: #959595;
    }
  }
  &_link {
    text-decoration: none;
    color: #555555;
    display: inline-block;
    padding: 0 15px;
    border-left: 1px solid #555555;
    box-sizing: border-box;
    &:first-child {
      border: none;
    }
    &:hover {
      color: #c7b299;
    }
    &:active {
      color: $gold;
    }
  }
}

// ---MEDIA---

@media (max-width: 1280px) {
  .container {
    width: 1024px;
  }
  .header_top {
    width: 1024px;
  }
  .carousel_main {
    padding: 235px 0;
  }
  .carousel-controls-next {
    margin-right: 120px;
  }
  .carousel-controls-prev {
    margin-left: 120px;
  }
  .project-box {
    max-width: 310px;
  }
  .mobile .container {
    background: url(../img/mobile-bg.png) 0 bottom/auto no-repeat;
  }
  .posts-item {
    max-width: 310px;
    &_box {
      padding: 20px;
    }
  }
  .partners {
    padding: 120px 0;
  }
  .footer-widget_item {
    width: 108px;
  }
}

@media (max-width: 1024px) {
  .container {
    width: 768px;
    width: auto;
  }
  .header_top {
    width: 768px;
    flex-wrap: wrap;
  }
  .header_logo {
    margin: 0 auto 35px;
  }
  .header_nav-menu {
    text-align: center;
    align-items: center;
  }
  .carousel_main {
    padding: 165px 0;
  }
  .carousel-controls-next {
    margin-right: 25px;
  }
  .carousel-controls-prev {
    margin-left: 25px;
  }
  .features .container {
    justify-content: space-around;
    width: 768px;
  }
  .features-item {
    width: 50%;
  }
  .features-item:nth-child(1) {
    margin-bottom: 35px;
  }
  .features-item:nth-child(2) {
    margin-bottom: 35px;
  }
  .ideas_imgs {
    height: 365px;
  }
  .ideas_photo {
    width: 585px;
    height: 366px;
  }
  .project-box {
    max-width: 365px;
    width: 50%;
  }
  .mobile .container {
    background-size: 35%;
    padding-top: 100px;
    padding-bottom: 145px;
  }
  .counteres .container {
    padding: 55px 10px;
  }
  .posts-item {
    max-width: 365px;
    width: 50%;
    &:last-child {
      margin-top: 25px;
    }
  }
  .partners {
    padding: 50px 0;
  }
  .partners-item {
    width: 50%;
    text-align: center;
    &:nth-child(1) {
      margin-bottom: 35px;
    }
    &:nth-child(2) {
      margin-bottom: 35px;
    }
  }
  .footer-widget {
    justify-content: center;
  }
  .footer-widget_item {
    width: auto;
  }
}

@media (max-width: 800px) {
  .header_top {
    width: 100%;
    justify-content: space-between;
  }
  .header_logo {
    margin: 0;
  }
  .mobile-nav {
    display: block;
  }
  .header_nav {
    display: none;
  }
  #mobile-menu:checked ~.header_nav {
    display: flex;
  }
  .header_nav-bag {
    display: none;
  }
  .header_nav-search {
    display: none;
  }
  .carousel_main {
    padding: 135px 0;
  }
  .carousel-heading_txt {
    margin: 20px auto 50px;
    max-width: 80%;
 }
  .carousel-body {
    max-width: 100%;
  }
  .carousel-controls-next {
    display: none;
  }
  .carousel-controls-prev {
    display: none;
  }
  .features .container {
    width: auto;
  }
  .ideas {
    display: none;
  }
  .purchase {
    &_txt {
      width: 100%;
      margin: 0 auto 30px;
      text-align: center;
    }
    &_btn {
      margin: 0 auto;
    }
  }
  .project-box {
    max-width: 280px;
  }
  .mobile .container {
    padding-top: 45px;
    // background-position-y: 100%;
  }
  .mobile-wrp {
    padding-left: 30%;
    display: block;
    width: 100%;
  }
  .mobile-title {
    width: 100%;
    padding-left: 15px;
    box-sizing: border-box;
  }
  .mobile-txt {
    max-width: 100%;
    padding-left: 15px;
    box-sizing: border-box;
  }
  .counteres-item {
    width: 20%;
  }
  .posts-txt {
    padding: 0 25px;
  }
  .posts-item {
    width: 100%;
    margin-top: 25px;
  }
  .partners-item_img {
    transform: scale(0.8);
  }
  .footer {
    padding-bottom: 0;
  }
  .footer-logo,
  .footer-posts,
  .footer-twitter,
  .footer-widget {
    width: 45%;
    margin-bottom: 30px;
  }
  .footer-posts {
    order: 3;
  }
  .footer-twitter {
    order: 4;
  }
  .footer-widget {
    order: 2;
  }
  .footer-widget_item {
    width: 42%;
      height: auto;
    margin-right: 10px;
  }
  .footer-copy {
    padding: 25px 0 0;
  }
  .footer-info {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 25px;
    box-sizing: border-box;
}
  .footer-info_txt {
  padding: 0px 5px;
    width: 100%;
}
.footer-info_txt:last-child {
  border: none;
}
.footer-info_link:nth-of-type(1) {
  border: none;
}
// .footer-info_link:first-child {
//   border-left: none;
// }
}

@media (max-width: 576px) {

  .carousel_main {
    padding: 100px 0px;
}
  .carousel-heading_semi {
    font-size: 32px;
    margin-bottom: 10px;
    padding: 0 10px;
  }
  .carousel-heading_main {
    font-size: 46px;
  }
  .features-item {
    width: 45%;
  }
  .purchase {
    padding: 30px ;
  }
  .purchase-title {
    margin-bottom: 10px;
    display: block;
  }
  .project-txt {
    width: 100%;
    padding: 0 10px;
  }
  .project-nav {
    width: 100%;
    padding: 30px 10px;
  }
  .project-nav_item {
    padding: 5px 15px;
  }

  .project-box {
    width: 100%;
    max-width: fit-content;
  }
  .project-btn {
    margin: 15px auto 35px;
  }

  .video-play {
    height: 500px;
  }
  .mobile .container {
    background: transparent;
    padding: 35px 0 20px;
  }
  .mobile-title {
    width: 100%;
    text-align: center;
  }
  .mobile-txt {
    max-width: 100%;
    text-align: center;
    padding: 0 10px;
    margin: 15px 0 35px;
  }
  .mobile-wrp {
    padding: 0 0 0 5%;
  }
  .counteres {
    display: none;
  }
  .posts {
    padding: 40px 0 35px;
  }
  .posts-item:first-child {
    margin-top: 0;
  }
  .partners {
    padding: 0;
  }
  .partners-item:nth-child(1) {
    margin: 0;
  }
  .partners-item:nth-child(2) {
    margin: 0;
  }
  .partners-item_img {
    transform: scale(0.7);
    &:hover {
      transform: scale(0.8);
    }
  }
  .footer {
    padding: 50px 0 0;
  }
}
